-- CREAR TABLA PROFILES FALTANTE
CREATE TABLE IF NOT EXISTS public.profiles (
    id uuid NOT NULL DEFAULT gen_random_uuid(),
    user_id uuid NOT NULL,
    first_name text,
    last_name text,
    email text,
    phone text,
    position text,
    experience_level text DEFAULT 'principiante',
    comuna text DEFAULT 'quilicura',
    avatar_url text,
    bio text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    
    CONSTRAINT profiles_pkey PRIMARY KEY (id),
    CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE,
    CONSTRAINT unique_user_profile UNIQUE(user_id)
);

-- RLS PARA PROFILES
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- Políticas para profiles
CREATE POLICY \
Usuarios
pueden
ver
perfiles
públicos\ ON public.profiles
    FOR SELECT USING (true);

CREATE POLICY \Usuarios
pueden
insertar
su
propio
perfil\ ON public.profiles
    FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Usuarios
pueden
actualizar
su
propio
perfil\ ON public.profiles
    FOR UPDATE USING (auth.uid() = user_id);

-- ACTUALIZAR RECRUITMENT_POSTS PARA USAR PROFILES
ALTER TABLE public.recruitment_posts 
DROP CONSTRAINT IF EXISTS recruitment_posts_author_id_fkey,
ADD CONSTRAINT recruitment_posts_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.profiles(user_id) ON DELETE CASCADE;
